:root {
  --color-text: #ffffff;
  --color-primary: #00ffa8;
  --color-secondary: #b8bbba;
  --color-dark-green: #3b865e;
  --color-bg: #04100b;
  --color-bg2: #E5E5E5;
  --color-hover: #d7e5e0;
  --color-disabled: #a7a7a7;
  --color-disabled-text: gray;
  --color-warning: #ff9900;
  --width-max:1444px;
}

html,
body {
  font-family: 'Inter', sans-serif;
  color: var(--color-text);
  background: var(--color-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
}

main {
  margin: 0 auto;
  max-width: var(--width-max);
}
.page-header {
  border-bottom: 1px solid var(--color-primary);
}
.page-header .logo{
  height: 60px;
  @media (max-width:1024px) {
    padding-bottom: 1px;
  }
}

.header-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.network-warning-container {
  color: var(--color-warning);
  align-items: center;
  display: flex;
}
.connect-button-container {
  border-left: 1px solid var(--color-primary);
  align-items: center;
  display: flex;
}
.text-button,.text-button:hover {
  color: #f4f4f4;
  font-size: 12px;
}
.text-button,.text-button:hover {
  background-color: transparent;
}
.address-box {
  padding-left: 56px;
  background-image: url("/../citydao-parcel-0-logo.png");
  background-repeat: no-repeat;

  @media (max-width:1024px) {
    padding-left: 0;
    background-position-x: center;
    padding-top: 61px;
    padding-bottom: 17px;
    margin-top:12px;
    text-align: center;
  }
}
.parcel-zero {
  font-size: 18px;
  padding-bottom: 4px;
}
.address-box .address{
  font-size:11px;
  color:var(--color-secondary)
}
.link-external-wrapper{
  @media (max-width:1024px) {
    text-align: center;
  }
}
.link-external {
  background-image: url("/../icons/link_arrow.png");
  background-repeat: no-repeat;
  background-position-x: right;
  padding-right: 18px;
  text-decoration: none;
  background-position-y: 2px;
}

.left-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  @media (max-width:1024px) {
    flex-direction: column;
  }
}

.message-box {
  color: var(--color-secondary);
  height: 61px;
  text-align: right;
  padding-top: 7px;
  @media (max-width:1024px) {
    text-align: center;
  }
}
.message-box .remaining-time {
  color: var(--color-text);
}
.nft-art-home-wrapper{
  width: 100%;
  max-width: 761px;
  @media (max-width:1024px) {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
  }
}
.nft-art-home {
 width:inherit
}
.address-line-1 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.4px;
}
.address-line-2 {
  padding-top: 5px;
  font-size: 12px;
  letter-spacing: -0.3px;
}
.text-button:hover {
  color: white;
}

.page-content {
  max-width: 1056px;
  padding-top: 61px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  @media (max-width:1024px) {
    flex-direction: column;
    padding-top: 20px;
    margin-bottom: 100px;
  }
}

.content-left {
  max-width: 761px;
}

.content-right {
  width: 234px;
  @media (max-width:1024px) {
    width:100%
  }
}
.properties {
  margin-top: 28px;
  @media (max-width:1024px) {
    margin-top: 48px;
  }
}
.property{
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
  border-bottom: 1px solid var(--color-dark-green);
  padding-bottom: 22px;
  @media (max-width:1024px) {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 23px;
    padding-bottom: 16px;
  }
}
.property img{
  align-self: center;
  vertical-align: bottom;
}
.propName {
  padding-bottom: 4px;
  font-size: 14px;
  line-height: 14px;
  color: var(--color-secondary);
  cursor: default;
}
.propName img{
  margin-left: 2px;
  width: 14px;
}
.propVal {
  color: var(--color-text);
}
h1 {
  font-size: 3rem;
}

p {
  line-height: 150%;
}

a {
  color: var(--color-primary);
  text-decoration: underline;
}
div:focus, div:focus-visible {
  outline: none;
}
button {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  width: 100%;
  padding: 14px 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  cursor: pointer;
  color: var(--color-bg);
  background: var(--color-primary);
  transition: background .1s ease-in;
  border: 2px solid transparent;
  @media (max-width:1024px) {
   width:81%;
   margin: 0 auto;
   display: block;
  }

}
button:disabled {
  background: var(--color-disabled);
  color: var(--color-disabled-text);
  text-shadow: 1px 1px #9d9d9d;
  cursor:default;
}
button.border-button {
  background: transparent;
  color: white;
  border: 2px solid var(--color-primary);
}
.aggreement-container {
  height: 450px;
  overflow: hidden;
  margin-top: 3rem;
  margin-bottom: 1rem;
  border: 1px solid var(--color-primary);
  border-radius: 1rem 0.5rem 0.5rem 1rem;
  box-shadow: 0 0 2rem -1rem var(--color-primary);
  white-space: pre-wrap;
  position: relative;
}

.loader-bar{
  display: block;
  text-align: center;
  width: 100%;
  padding: 16px;
  background-color: var(--color-bg);
  position: absolute;
  top: 0;
}

.vote-form {
  text-align: center;
  padding-top: 36px;
}

.text-center {
  text-align: center;
}

.text-italic {
  font-style: italic;
}

.text-sm {
  font-size: 80%;
}

.opacity-50 {
  opacity: 50%;
}

.mt-1 {
  margin-top: 1rem;
}

.color-primary {
  color: var(--color-primary);
}

.steps-container {
  margin-top: 3rem;
  /* display: grid;
  place-items: center; */
}

.step {
  display: flex;
  width: 100%;
  /* align-items: center; */
  max-width: 600px;
  margin: 0 auto;
}

.step .step-content {
  padding: 0 1rem;
  flex: 3;
  margin-top: 0.7rem;
}

.step .step-cta {
  flex: 1;
}

.step .step-cta button {
  width: 100%;
}

.step .step-index {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: bold;

  color: var(--color-text);
  background: #333;
}

.step.step-active .step-index {
  color: var(--color-bg);
  background: var(--color-primary);
}

.step .step-content {
  opacity: 25%;
}

.step.step-active .step-content {
  opacity: 100%;
}

.step + .step {
  margin-top: 1rem;
}
.view-nfts {
  @media (max-width:1024px) {
    text-align: center;
  }
}
.mintedNftImagesWrapper {
  margin-left: -16px;
  margin-top: 16px;
  margin-right: -16px;
}
.mintedNftImage {
  width: 240px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 16px;
  border: 1px solid var(--color-primary);
}
.claim-popup {
  text-align: center;
  @media (max-width:1024px) {
    margin-top: -16px;
  }
  .parcel-0-logo-md {
    width: 87px;
  }
  .close-icon {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 20px;
    font-size: 26px;
    padding-top: 14px;
    color: var(--color-primary);
    cursor: pointer;
    @media (max-width:1024px) {
      top: 0;
    }
  }

  .checkbox-label {
    cursor: pointer;
  }

  .checkbox-icon {
    width: 18px;
    height: 18px;
  }
}

.parcel-art-container {
  margin-top: 36px;
  margin-bottom: 24px;
  @media (max-width:1024px) {
    margin-top: 16px;
    margin-bottom: 6px;
  }
}
.parcel-art {
  width: 338px;
  height: 338px;
  display: inline-block;
  @media (max-width:1024px) {
    width: 66%;
    height: 100%;
  }
}
.terms{
  margin-bottom: 24px;
  font-size: 16px;
}
#cb1{
  margin-right: 4px;
  vertical-align: middle;
}
.btn-accept{
  max-width: 338px;
  margin-bottom: 36px;
  @media (max-width:1024px) {
    margin-bottom: 16px;
  }
}
.btn-close {
  width: 134px;
  margin-bottom: 53px;
  margin-top: 55px;
  background-color: var(--color-bg2);
}
.popup-title {
  font-size: 24px;
  color: var(--color-primary);
  padding-bottom: 16px;
  @media (max-width:1024px) {
    padding-bottom: 6px;
  }
}
.popup-content {
  letter-spacing: 0.3px;
}
.popup-content >p{
  margin-top:16px;
}
.text-primary {
  color: var(--color-primary);
}

.react-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0,0,0,0.5);
}

.react-modal-content {
  position: relative;
  max-width: 482px;
  width: 100%;
  padding-top: 16px;
  background: #04110C;
  border: 1px solid var(--color-primary);
}

.note {
  border: 1px solid var(--color-primary);
  background: rgba(0, 255, 168, 0.1);
  padding: 18px;
  line-height: 20px;
  width: 365px;
  margin: 42px auto 0;
}

.walletconnect-modal__mobile__toggle a {
  color:black
}
.walletconnect-qrcode__base {
  padding-top: 72px !important;
}
