:root {
  --color-text: #ffffff;
  --color-primary: #00ffa8;
  --color-bg: #222;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  color: var(--color-text);
  background: var(--color-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
}

main {
  margin: 0 auto;
  max-width: 980px;
  padding: 4rem;
}

h1 {
  font-size: 3rem;
}

p {
  line-height: 150%;
}

a {
  color: var(--color-primary);
  text-decoration: underline;
}

button {
  padding: 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  color: var(--color-bg);
  background: var(--color-primary);
}

.aggreement-container {
  height: 450px;
  overflow: hidden;
  margin-top: 3rem;
  margin-bottom: 1rem;
  border: 1px solid var(--color-primary);
  border-radius: 1rem 0.5rem 0.5rem 1rem;
  box-shadow: 0 0 2rem -1rem var(--color-primary);
  white-space: pre-wrap;
  position: relative;
}

.loader-bar{
  display: block;
  text-align: center;
  width: 100%;
  padding: 16px;
  background-color: var(--color-bg);
  position: absolute;
  top: 0;
}

.vote-form {
  text-align: center;
  padding-top: 36px;
}

.text-center {
  text-align: center;
}

.text-italic {
  font-style: italic;
}

.text-sm {
  font-size: 80%;
}

.opacity-50 {
  opacity: 50%;
}

.mt-1 {
  margin-top: 1rem;
}

.color-primary {
  color: var(--color-primary);
}

.steps-container {
  margin-top: 3rem;
  /* display: grid;
  place-items: center; */
}

.step {
  display: flex;
  width: 100%;
  /* align-items: center; */
  max-width: 600px;
  margin: 0 auto;
}

.step .step-content {
  padding: 0 1rem;
  flex: 3;
  margin-top: 0.7rem;
}

.step .step-cta {
  flex: 1;
}

.step .step-cta button {
  width: 100%;
}

.step .step-index {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: bold;

  color: var(--color-text);
  background: #333;
}

.step.step-active .step-index {
  color: var(--color-bg);
  background: var(--color-primary);
}

.step .step-content {
  opacity: 25%;
}

.step.step-active .step-content {
  opacity: 100%;
}

.step + .step {
  margin-top: 1rem;
}
